/* ---------------- */
/*  ABOUT ME HEADER */
/* ---------------- */

#aboutme {
  color: #fff;
  background-color: rgb(74, 79, 75);
  display: flex;
  align-items: stretch;
}
#aboutme #aboutmeimage {
  min-width: 55vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../images/profile2.jpg");
  background-repeat: no-repeat;
}
#aboutme #aboutmetext {
  min-width: 45vw;
  padding: 5vw 5vw 5vw 4vw;
}
#aboutme #aboutmetext h2 {
  margin-bottom: 0px;
}
#aboutme #aboutmetext #hashtags {
  color: lightgrey;
}
#aboutme #aboutmetext #summary {
  display: flex;
  margin-bottom: 20px;
}
#aboutme #aboutmetext #summary div {
  margin: 10px;
}
#aboutme #aboutmetext #summary #work {
  margin-left: 0px;
}
#aboutme #aboutmetext #summary div h5 {
  font-weight: 500;
  margin-bottom: 3px;
}
#aboutme #aboutmetext #summary div h6 {
  font-weight: 300;
  margin-bottom: 2px;
  text-decoration: underline;
}
#aboutme #aboutmetext #summary div p {
  margin-bottom: 0px;
  font-size: 0.8em;
}
#aboutme #aboutmetext #contacticons {
  display: flex;
}
#aboutme #aboutmetext #contacticons img {
  width: 40px;
  margin: 0px 10px;
}
#aboutme #aboutmetext #contacticons #first {
  margin-left: 0px;
}

/* ---------------- */
/*  ABOUT ME BODY  */
/* ---------------- */

/***********************/
/**** MEDIUM 1 SCREEN ****/
/************************/
@media screen and (max-width: 678px) {
}
/***********************/
/*** MEDIUM 2 SCREEN ***/
/***********************/
@media screen and (max-width: 750px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
}
/************************/
/***** SMALL SCREEN *****/
/************************/
@media screen and (max-width: 440px) {
}
/***********************/
/*** LARGEST SCREEN ***/
/***********************/
@media screen and (min-width: 1024px) {
}
