/* ---------------- */
/*  ABOUT ME HEADER */
/* ---------------- */

#aboutme {
  color: #22262a;
  /* background-image: url(../images/aboutme.jpg); */
  background-size: cover;
  display: flex;
  align-items: stretch;
  min-height: 90vh;
}
#aboutme #aboutmeimage {
  min-width: 55vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../images/profile2.jpg");
  background-repeat: no-repeat;
}
#aboutme #aboutmetext {
  min-width: 45vw;
  padding: 5vw;
}

/* ---------------- */
/*  ABOUT ME BODY  */
/* ---------------- */

/***********************/
/**** MEDIUM 1 SCREEN ****/
/************************/
@media screen and (max-width: 678px) {
}
/***********************/
/*** MEDIUM 2 SCREEN ***/
/***********************/
@media screen and (max-width: 750px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
}
/************************/
/***** SMALL SCREEN *****/
/************************/
@media screen and (max-width: 440px) {
}
/***********************/
/*** LARGEST SCREEN ***/
/***********************/
@media screen and (min-width: 1024px) {
}
