/* ---------------- */
/*  ABOUT ME HEADER */
/* ---------------- */
#main {
  color: #fff;
  background-color: rgb(74, 79, 75);
  align-items: stretch;
}
#aboutme {
  display: flex;
  min-height: 75vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#aboutmeimage {
  min-width: 35vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../images/profile2.jpg");
  background-repeat: no-repeat;
}
#aboutmetext {
  align-self: center;
  margin-top: 5vh;
  margin-left: 3vw;
  margin-right: 6vw;
}

/* Skill Progress Bars */
#skills {
  padding-top: 5vh;
  padding-bottom: 3vh;
}
.skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.skill h6.language {
  margin-bottom: 0px;
}
.meter {
  width: 100%;
  height: 20px;
  padding: 5px;
  position: relative;
  background: #555;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fda4ba;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  animation: 2s ease-out percentFill;
}
.meter .percent {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 20px; /* Should be same height as meter */
  font-weight: 600;
}

#myjourney {
  display: block;
  margin: 7vh 5vw 0;
  padding-bottom: 5vw;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#hashtags {
  color: lightgrey;
}
/* Summary Includes Work and Education Labels */
#summary {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
#summary div {
  margin: 10px;
}
#summary #work {
  margin-left: 0px;
}
#summary div h5 {
  font-weight: 500;
  margin-bottom: 3px;
}
#summary div h6 {
  font-weight: 300;
  margin-bottom: 2px;
  text-decoration: underline;
}
#summary div p {
  margin-bottom: 0px;
  font-size: 0.8em;
}
#contacticons {
  display: flex;
  justify-content: center;
}
#contacticons img {
  width: 40px;
  margin: 0px 10px;
}
#contacticons #first {
  margin-left: 0px;
}

/***********************/
/**** MEDIUM 1 SCREEN ****/
/************************/
@media screen and (max-width: 678px) {
}
/***********************/
/*** MEDIUM 2 SCREEN ***/
/***********************/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 0.75rem;
  }
  #aboutme {
    flex-direction: column;
  }
  #aboutmeimage {
    min-height: 40vh;
    width: 50%;
    margin: 5vh auto 0vh;
    padding-top: 3vh;
    border-radius: 5px;
  }
  #aboutmetext {
    text-align: center;
  }
  #skills {
    text-align: left;
  }
  #skills h2 {
    margin-bottom: 2vh;
  }
  #summary {
    justify-content: center;
  }
  #contacticons {
    justify-content: center;
  }
}
/************************/
/***** SMALL SCREEN *****/
/************************/
@media screen and (max-width: 440px) {
  #aboutmeimage {
    width: 90%;
  }
}
/***********************/
/*** LARGEST SCREEN ***/
/***********************/
@media screen and (min-width: 1024px) {
}
