/**********************/
/***** ANIMATIONS *****/
/**********************/
.animatefromleft {
  -webkit-animation: moveInLeft 2s ease-in-out forwards;
  animation: moveInLeft 2s ease-in-out forwards;
}
.animatefromleftfast {
  -webkit-animation: moveInLeft 0.5s ease-in-out forwards;
  animation: moveInLeft 0.5s ease-in-out forwards;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.animatefromright {
  -webkit-animation: moveInRight 2s ease-in-out forwards;
  animation: moveInRight 2s ease-in-out forwards;
}
.animatefromrightfast {
  -webkit-animation: moveInRight 0.5s ease-in-out forwards;
  animation: moveInRight 0.5s ease-in-out forwards;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.fadein {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.zoom {
  animation: zoom-in-out 2s linear 0s normal none;
}
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.attention {
  animation: attention 2s ease 0s 1 normal forwards;
}
@keyframes attention {
  0% {
    opacity: 0.8;
    transform: scale(0.2);
  }

  80% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}

.opacityup {
  -webkit-animation: opacityUp 0.5s ease-in-out forwards;
  animation: opacityUp 0.5s ease-in-out forwards;
}
@keyframes opacityUp {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
