body {
  font-family: "Poppins", sans-serif;
  font-weight: 200 !important;
}
h2 {
  font-family: "Fira Sans", sans-serif;
}
/* ---------------- */
/*  ALL-NAVIGATION  */
/* ---------------- */
#navigation {
  background-color: #22262a;
  text-align: center;
}
#navigation a {
  color: #ffffff !important;
}
#navigation a:hover {
  transform: translateY(-3px);
}
#navigation .collapse {
  justify-content: flex-end;
}
#navigation .collapse ul {
  margin-right: 0 !important;
}
#footer {
  margin: auto;
  background-color: #22262a;
  text-align: center;
  justify-content: center;
}
#footer a {
  color: #ffffff !important;
}
