/* eerie black: #22262A */
/* amaranth pink: #FDA4BA */
/* vista blue: #8093F1 */
/* sky blue: #72DDF7 */
/* beige: #EFEFD0 */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200 !important;
}
h2 {
  font-family: "Fira Sans", sans-serif;
}
/* ---------------- */
/*  ALL-NAVIGATION  */
/* ---------------- */
#navigation {
  background-color: #22262a;
  text-align: center;
}
#navigation a {
  color: #ffffff !important;
}
#navigation a:hover {
  transform: scale(1.1);
  color: #fda4ba !important;
}
#navigation .collapse {
  justify-content: space-between;
}
#navigation .collapse ul {
  margin-right: 0 !important;
}
#navigation .date {
  color: white;
}
#footer {
  margin: auto;
  background-color: #22262a;
  text-align: center;
  justify-content: center;
}
#footer a {
  color: #ffffff !important;
}

/* ---------------- */
/*  ALL-ANIMATIONS  */
/* ---------------- */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes percentFill {
  0% {
    width: 0%;
  }
}
