/* ---------------- */
/*  HOME-HEADER  */
/* ---------------- */
#altheader .row {
  margin: auto 0;
  justify-content: center;
  align-items: center;
  background-image: url(../images/computer.jpg);
  background-size: cover;
  background-position: center;
  height: 95vh;
}
#altheader .row div {
  color: #fff;
}
#altheader .row div h1 #comma {
  display: inline-block;
}
#altheader .row div h1 {
  font-size: 3rem;
  font-weight: 900;
}
#altheader .row div h1 span:first-of-type {
  color: #fda4ba;
}
#altheader .row img {
  display: none;
  max-width: 25vw;
  max-height: 80vh;
  padding-top: 3vh;
  filter: drop-shadow(10px 10px 20px #22262a);
}
/* ---------------- */
/*  HOME-FEATURED  */
/* ---------------- */
#featured {
  margin: 6vh auto 6vh;
  text-align: center;
  color: #22262a;
}
#featured #featuredlarge {
  display: flex;
  padding: 0 3vh 3vh;
  flex-direction: row;
  justify-content: space-between;
}
#featured #featuredlarge h3 {
  margin-top: 1vh;
}
#featured #featuredlarge a {
  width: 33%;
  position: relative;
}
#featured #featuredlarge a .overlaytext {
  position: absolute;
  transform: translate(-50%, -50%);
  display: inline-block;
  color: #22262a;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.5s;
  background-color: #fff;
  padding: 10px;
}
#featured #featuredlarge a img {
  opacity: 0.9;
}
#featured #featuredlarge a:hover > img {
  opacity: 0.1;
}
#featured #featuredlarge a:hover > .overlaytext {
  background: transparent;
  padding: 0;
}
#featured #featuredlarge #category {
  width: 100%;
  height: 100%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
#featured #featuredlarge #category2 {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}

/* ---------------- */
/*  HOME-ABOUT ME  */
/* ---------------- */
#aboutme {
  margin-bottom: 5vh;
  background-color: #22262a;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-size: 19px;
  align-items: center;
  padding: 30px;
}
#aboutme #aboutmeimage {
  display: inline-block;
  width: 20%;
  border-radius: 50%;
  border: 25px solid #22262a;
  transition: 0.5s;
}
#aboutme #aboutmeimage:hover {
  border: 25px solid white;
  transition: 0.5s;
}
#aboutme #aboutmetext {
  width: 80%;
  margin: 15px auto auto;
}
#aboutme #aboutmetext h3 {
  font-weight: 300 !important;
  margin: auto;
}

/* --------------- */
/*  HOME-SKILL SET */
/* --------------  */
#skillsets {
  padding: 2vh 0 2vh;
  color: #22262a;
  text-align: center;
}
#skillsets #icontag {
  display: inline-block;
  position: relative;
  width: 20%;
  background-color: #fff;
}
#skillsets #icontag:hover > img {
  visibility: hidden;
}
#skillsets #icontag:hover > p {
  display: block;
  color: black;
  font-weight: 700;
}
#skillsets #icontag #icon {
  border-radius: 50%;
  padding: 15px;
  margin: 15px;
  border: 3px solid #22262a;
  width: 80%;
}
#skillsets #icontag .overlaytext {
  width: 100%;
  top: 45%;
  position: absolute;
  display: none;
}

/***********************/
/**** MEDIUM 1 SCREEN ****/
/************************/
@media screen and (max-width: 678px) {
  #featured {
    margin: 4vh auto 4vh;
  }
  #featured #featuredlarge {
    flex-direction: column;
    align-items: center;
  }
  #featured #featuredlarge a {
    width: 65%;
  }
  #featured #featuredlarge a img {
    opacity: 0.5;
  }
  #featured #featuredlarge a .overlaytext {
    padding: 15px;
    width: auto;
    border-radius: 10px;
  }
  #featured #featuredlarge img {
    border-radius: 10px;
  }
  #featured #featuredlarge #category {
    clip-path: none;
  }
  #featured #featuredlarge #category2 {
    clip-path: none;
    margin: 2vh auto;
  }
  #aboutme {
    flex-direction: column;
    font-size: 14px;
    margin: 0;
  }
  #aboutme #aboutmeimage {
    max-width: 80%;
    margin: 0 15px;
    width: 100px;
    border: 10px #22262a;
  }
  #skillsets {
    border: #22262a 3vh solid;
  }
  #skillsets p {
    font-size: 14px;
    margin-bottom: 0.5rem !important;
  }
  #skillsets #icontag {
    display: inline-block;
    margin: 5px;
    width: 25%;
  }
  #skillsets #icontag #icon {
    margin: 5px;
  }
}
/***********************/
/*** MEDIUM 2 SCREEN ***/
/***********************/
@media screen and (max-width: 750px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
  #altheader .row {
    height: 65vh;
    text-align: center;
  }
  #altheader .row div h1 #comma {
    display: none;
  }
  #altheader .row img {
    display: none;
  }
  #featured {
    margin: 3vh auto 3vh;
  }
  #featured h2 {
    font-size: 1.5rem;
  }
  #featured #featuredlarge a .overlaytext {
    font-size: 1rem;
    width: 65%;
  }
}
/************************/
/***** SMALL SCREEN *****/
/************************/
@media screen and (max-width: 440px) {
  #featured #featuredlarge a .overlaytext {
    font-size: 0.75rem;
  }
}
/***********************/
/*** LARGEST SCREEN ***/
/***********************/
@media screen and (min-width: 1024px) {
  #skillsets #icontag {
    width: 15%;
  }
}
