/* #f8e9a1	(248,233,161) yellow
#f76c6c	(247,108,108) coral 
#a8d0e6	(168,208,230) baby blue
#374785	(55,71,133) blue
#24305e	(36,48,94) dark blue */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 200 !important;
}
h2 {
  font-family: "Fira Sans", sans-serif;
}
/* ---------------- */
/*  ALL-NAVIGATION  */
/* ---------------- */
#navigation {
  background-color: rgb(34, 40, 49);
  text-align: center;
}
#navigation a {
  color: #ffffff !important;
}
#footer {
  margin: auto;
  background-color: rgb(34, 40, 49);
  text-align: center;
  justify-content: center;
}
#footer a {
  color: #ffffff !important;
}
/* ---------------- */
/*  HOME-HEADER  */
/* ---------------- */
#homeheader {
  background-image: url("homebg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  max-width: none !important;
  width: 100%;
}
#homeheaderoverlay {
  position: absolute;
  background: rgba(34, 40, 49, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#homeheadertext {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgb(34, 40, 49);
  z-index: 2;
  font-weight: 700;
}
#homeheadertext h2 {
  font-family: "Parisienne", cursive;
  font-size: 7rem !important;
}
#homeheadertext h3 {
  font-size: 1.75rem !important;
}
#homeheadertext br {
  display: none;
}
/* ---------------- */
/*  HOME-FEATURED  */
/* ---------------- */
#featured {
  margin: 8vh auto 8vh;
  text-align: center;
  color: rgb(34, 40, 49);
}
#featuredsmall .btn {
  border: solid 0.5px rgb(34, 40, 49);
  margin: 1vh auto;
  width: 70%;
}
#featuredsmall .btn:hover {
  color: white;
  border: solid 0.5px #ffffff;
  background-color: rgb(34, 40, 49);
}
#featuredsmall {
  display: none;
}
#featuredlarge {
  display: flex;
  padding: 3vh;
  flex-direction: row;
  justify-content: space-between;
}
#featuredlarge h3 {
  margin-top: 1vh;
}
#featuredlarge a {
  width: 33%;
  position: relative;
}
#featuredlarge a .overlaytext {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  display: none;
  transition: 0.5s;
}
#featuredlarge a:hover > .overlaytext {
  display: inline-block;
  transition: 0.5s;
  color: rgb(34, 40, 49);
}
#featuredlarge a img {
  transition: 0.5s;
}
#featuredlarge a:hover > img {
  opacity: 0.1;
  transition: 0.3s;
}
#featuredlarge #category {
  width: 100%;
  height: 100%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
/* ---------------- */
/*  HOME-ABOUT ME  */
/* ---------------- */
#aboutme {
  margin-top: 10vw;
  background-color: rgb(34, 40, 49);
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-size: 19px;
  align-items: center;
  padding: 30px;
}
#aboutme #aboutmeimage {
  display: inline-block;
  margin-top: -125px;
  width: 25%;
  border-radius: 50%;
  border: 25px solid rgb(34, 40, 49);
  transition: 0.5s;
}
#aboutme #aboutmeimage:hover {
  border: 25px solid white;
  transition: 0.5s;
}
#aboutme #aboutmetext h3 {
  font-weight: 300 !important;
  margin: auto;
}
#aboutmetext {
  width: 80%;
  margin: 15px auto auto;
}
/* --------------- */
/*  HOME-SKILL SET */
/* --------------  */
#skillsets {
  padding: 5vh 0 2vh;
  color: rgb(34, 40, 49);
  text-align: center;
}
#skillsets #icontag {
  display: inline-block;
  position: relative;
  width: 20%;
  background-color: #fff;
}
#skillsets #icontag #icon {
  border-radius: 50%;
  padding: 15px;
  margin: 15px;
  border: 3px solid rgb(34, 40, 49);
  width: 80%;
}
#skillsets #icontag .overlaytext {
  width: 100%;
  top: 45%;
  position: absolute;
  display: none;
}
#skillsets #icontag:hover > img {
  visibility: hidden;
}
#skillsets #icontag:hover > p {
  display: block;
  color: black;
  font-weight: 700;
}
/* --------------- */
/*  EXPERIENCE TOP  */
/* --------------  */
#experiencebody {
  color: rgb(34, 40, 49);
  background-color: rgb(34, 40, 49);
}
#expheader {
  text-align: center;
  color: white;
  font-family: "Parisienne", cursive;
}
#expheader h1 {
  font-size: 4rem !important;
}
/* --------------------- */
/*  EXPERIENCE TIMELINE  */
/* --------------------- */
#experience {
  position: relative;
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
}
#experience .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}
#experience .row {
  display: flex;
  justify-content: flex-start;
}
#experience .row-1 {
  justify-content: flex-start;
}
#experience .row-2 {
  justify-content: flex-end;
}
#experience .row section {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
#experience .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: rgba(255, 255, 255, 1);
  top: 28px;
  transform: rotate(45deg);
  z-index: -1;
}
#experience .row-1 section::before {
  right: -7px;
}
#experience .row-2 section::before {
  left: -7px;
}
#experience .row section .icon {
  position: absolute;
  background: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(34, 40, 49);
  top: 13px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.5);
}
#experience .row-1 section .icon {
  right: -60px;
}
#experience .row-2 section .icon {
  left: -60px;
}
#experience .row section .details,
#experience .row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#experience .row section .details .title {
  font-size: 22px;
  font-weight: 600;
}
#experience .row section p {
  margin: 10px 0 17px 0;
}
#experience .row section .bottom a {
  text-decoration: none;
  background: rgb(34, 40, 49);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
}

@media screen and (max-width: 678px) {
  #homeheader {
    min-height: 75vh;
  }
  #homeheadertext br {
    display: inline;
  }
  #homeheadertext h2 {
    font-size: 3rem !important;
  }
  #homeheadertext h3 {
    font-size: 1.5rem !important;
  }
  #featured {
    margin: 2vh auto 2vh;
  }
  #featuredsmall {
    display: inline-block;
  }
  #featuredlarge {
    display: none;
  }
  #aboutme {
    flex-direction: column;
    font-size: 14px;
    margin: 0;
  }
  #aboutme p {
    width: 90%;
  }
  #aboutme #aboutmeimage {
    max-width: 80%;
    margin: auto;
    width: 100px;
    border: 10px rgb(34, 40, 49);
  }
  #skillset {
    border: rgb(34, 40, 49) 3vh solid;
  }
  #skillsets p {
    font-size: 14px;
    margin-bottom: 0.5rem !important;
  }
  #skillsets #icontag {
    display: inline-block;
    margin: 5px;
    width: 25%;
  }
  #skillsets #icontag #icon {
    margin: 5px;
  }
  #educationtop .row {
    flex-direction: column;
  }
  #educationtop #colone {
    max-width: 100%;
  }
  #educationtop p {
    font-size: 0.75rem !important;
  }
  #experience .row {
    margin: 30px 0 3px 60px;
  }
  #experience .row section {
    width: 100%;
  }
  #experience .center-line {
    left: 40px;
  }
  #experience .row-1 section::before {
    left: -7px;
  }
  #experience .row-1 section .icon {
    left: -60px;
  }
}

@media screen and (max-width: 440px) {
  #experience .center-line,
  #experience .row section::before,
  #experience .row section .icon {
    display: none;
  }
  #experience .row {
    margin: 10px 0;
  }
  #experience .row section .details,
  #experience .row section .bottom {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  #skillsets #icontag {
    width: 15%;
  }
}
